@using System.Globalization
@model Sigortam.Cerit.Common.Dtos.Setting.SettingDto
@{
    ViewData["Title"] = "Kullanıcı Ayaları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="app-content-headerText ">&nbsp;&nbsp;Kullanıcı Ayaları</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/togglebutton.css">
    <title>CodePen - Products Dashboard UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/calender.css">
</head>
<body>
    <div class="backGround" style="width:100%; height:80%; overflow:auto;">
        <table class="table">
            <thead class="thead-dark">
                <tr style="color:gray">
                    @*                    <th scope="col">#</th>
                        <th scope="col">Resim</th>*@
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">Anlık Gösterim</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody style="color:white ; width:20px;">
                <tr >
                    @*                       <th scope="row">@count</th>
                        <td> <img src="@Model.ImageSvgUrl" width="100" height="35" alt="product"></td>*@
                    <td>1</td>
                    <td>Yıl, ay , gün cinsen göster</td>
                    @if (Model.RemainingTimeType == Sigortam.Cerit.Common.Dtos.Setting.RemainingTime.YearMonthDay)
                    {
                        <td>1 Yıl ,5 Ay ,4 Gün</td>
                        <td><input @*id="@toogleButtonId"*@ class="toggleBody" type="checkbox" checked @*value="checked"*@ @*onclick="changeCheck('toogleButton'+'@insuranceCompany.InsuranceCompanyId')"*@></td>
                    }
                    else
                    {
                        <td>489 Gün</td>
                        <td><input @*id="@toogleButtonId"*@ class="toggleBody" type="checkbox" @*value="UnChecked"*@ @*onclick="changeCheck('toogleButton'+'@insuranceCompany.InsuranceCompanyId')"*@></td>
                    }
                </tr>
                <tr>
                <td>2</td>
                 <td>Sigorta süreleri yaklaşanlarını kaç gün önceden getirsin</td>
                 <td></td>
                    <td>
                        <input id="expiredInsurancesDay" value="@Model.ExpiredInsurancesDay" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:right ; margin-right:2%">
        <button class="app-content-headerButton" onclick="saveFunction()">Kaydet</button>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/gird.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/mersis.js"></script>
<script src="~/js/choices.js"></script>
<script src="~/js/flatpickr.js"></script>
<script src="~/js/formValidate.js"></script>
<script>
</script>
</html>

