@using System.Globalization
@model List<Sigortam.Cerit.Common.Dtos.InsuranceCompanyDto>
@{
    ViewData["Title"] = "Sigorta Şirketleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<h1 class="app-content-headerText ">&nbsp;&nbsp;Sigorta Şirketleri</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/togglebutton.css">
</head>
<body>
    <div class="app-container backGround">
        <table class="table">
            <thead class="thead-dark">
                <tr style="color:gray">
                    <th scope="col">#</th>
                    <th scope="col">Resim</th>
                    <th scope="col">Sigorta şirketi</th>
                    <th scope="col">Durum</th>
                </tr>
            </thead>
            @foreach (var insuranceCompany in Model)
            {
                <tbody>
                    <tr style="color:white">
                        <th scope="row">@count</th>
                        <td> <img src="@insuranceCompany.ImageSvgUrl" width="70" height="50" alt="product"></td>
                        <td>@insuranceCompany.Name</td>
                        @*<td id="toggleButton+@count" class="toggleBody"><input type="checkbox"></td>*@
                        @*                        @if (insuranceCompany.IsActive)
                            {
                            <td><span class="status active">Active</span></td>
                            }
                            else
                            {
                            <td><span class="status disabled">Disabled</span></td>
                            }*@
                        @if (insuranceCompany.IsActive)
                        {
                            var toogleButtonId = "toogleButton" + @insuranceCompany.InsuranceCompanyId;
                            <td ><input id="@toogleButtonId"  class="toggleBody" type="checkbox" checked allahinCezaJs="checked"  @*value="checked"*@ @*onclick="changeCheck('toogleButton'+'@insuranceCompany.InsuranceCompanyId')"*@></td>
                        }
                        else
                        {
                            var toogleButtonId = "toogleButton" + @insuranceCompany.InsuranceCompanyId;
                            <td ><input id="@toogleButtonId" class="toggleBody"  type="checkbox" allahinCezaJs="UnChecked"  @*value="UnChecked"*@ @*onclick="changeCheck('toogleButton'+'@insuranceCompany.InsuranceCompanyId')"*@></td>
                        }
                    </tr>
                    <tr>
                </tbody>
                count++;
            }
        </table>
    </div>
    <div style="text-align:right">
        <button class="app-content-headerButton" onclick="saveFunction()">Kaydet</button>
    </div>
</body>
<script>
            function saveFunction(){
                  var forms = document.querySelectorAll('.toggleBody');
                  var toogleList = [];
                        for(let i = 0 ; i < forms.length ; i++){
                            var toogleButtonId = forms[i].id;
                            var insuranceCompanyId = parseInt(toogleButtonId.replace("toogleButton",""));
                        if(document.getElementById(toogleButtonId).checked == true){
                           toogleList[i] = { InsuranceCompanyId:insuranceCompanyId , IsActive:true };
                        }
                        else{
                            toogleList[i] = { InsuranceCompanyId:insuranceCompanyId , IsActive:false };
                        }
                       }
                          $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: "POST",
                            url: "/InsuranceCompany/UpdateInsuranceCompany/",
                            data: JSON.stringify(toogleList),
                            success: function (result) {
                                    alert("İşlem Başarılı");
                                    location.href = "/InsuranceCompany/Index";
                            }
                        });
            }

            function changeCheck(toogleButtonId){
                if(document.getElementById(toogleButtonId).checked == true){
                    document.getElementById(toogleButtonId).checked = false;
                    @*document.getElementById(toogleButtonId).value = "unChecked";*@
                }
                else{
                    document.getElementById(toogleButtonId).checked = true;
                    @*document.getElementById(toogleButtonId).value = "checked";*@
                }
    @*alert(!document.getElementById(toogleButtonId).checked);// To verify*@
            }
</script>
</html>

