@using System.Globalization
@using Sigortam.Cerit.Common.Dtos
@using Sigortam.Cerit.Common.Dtos.Filter
@model List<Sigortam.Cerit.Common.Dtos.InsuranceDto>
@{
    ViewData["Title"] = "Tüm Sigortalarım";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
    var insurancesActiveCompanys = (List<InsuranceCompanyDto>)ViewBag.InsuranceActiveCompany;
    var insurancesCompanys = (List<InsuranceCompanyDto>)ViewBag.InsuranceCompany;
    var filter = (FilterDto)ViewBag.Filter;
    var searchText = filter?.SearchText ?? string.Empty;
    var NowYear = DateTime.Now.Year;
}

<h1 class="app-content-headerText ">&nbsp;&nbsp;Tüm sigortaları görüntüle</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/calender.css">
    <link rel="stylesheet" href="~/css/semantic.css">
    <link rel="stylesheet" href="~/css/semantic.min.css">
    <link rel="stylesheet" href="~/css/dropDown.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="app-container">
        <div class="app-content">
            <div class="app-content-header">
                <!-- Button trigger modal -->
                @*<button class="app-content-headerButton" onclick="DownloadExcelInsurance()">Excel Export</button>*@
                <input id="insuranceId" value="0" style="visibility:hidden" />
                @*<button class="app-content-headerButton" data-toggle="modal" data-target="#exampleModalCenter">Yeni Sigorta Kaydı Ekle</button>*@
                @*<button class="app-content-headerButton" data-toggle="modal" data-target="#exampleModalCenter2">Barcode Ekle</button>*@

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="ion-ios-close"></span>
                                </button>
                            </div>
                            <form id="form" class="modal-body p-4 p-md-5 needs-validation" novalidate>
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-person"></span>
                                </div>
                                <h3 class="text-center mb-4 signIn">Kayıt Edin</h3>
                                <div class="form-group row">
                                    <div class="col">
                                        <input type="text" id="name" class="form-control rounded-left needs-validation-text" placeholder="İsim" required />
                                        <div class="invalid-feedback">
                                            Lütfen isim kısmını doldurun.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="lastName" class="form-control rounded-right needs-validation-text" placeholder="Soyisim" required />
                                        <div class="invalid-feedback">
                                            Lütfen soyisim kısmını doldurun.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex row">

                                    <div class="col">
                                        <input type="text" id="identificationNumber" class="form-control rounded-left needs-validation-text" value="@ViewBag.Barcode" placeholder="TC" required />
                                        <div class="invalid-feedback">
                                            Lütfen TC kısmını doldurun.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="birthDate" class="form-control rounded-right needs-validation-text" placeholder="Doğum Yılı" required />
                                        <div class="invalid-feedback">
                                            Lütfen doğum yılı kısmını doldurun.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex row">
                                    <div class="col">
                                        <input type="text" id="plateNumber" class="form-control rounded-right needs-validation-text" placeholder="Plaka Numarası" required />
                                        <div class="invalid-feedback">
                                            Lütfen plaka numarası kısmını doldurun.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="price" class="form-control rounded-right needs-validation-text" placeholder="Ücret" required />
                                        <div class="invalid-feedback">
                                            Lütfen ücret kısmını doldurun.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex row">
                                    <div class="col">
                                        <input type="text" id="permitNumber" class="form-control rounded-right needs-validation-text" placeholder="Ruhsat Numarası" required />
                                        <div class="invalid-feedback">
                                            Lütfen ruhsat numarası kısmını doldurun.
                                        </div>
                                    </div>
                                    @*                                    <div class="col">
                                        <input type="text" id="price" class="form-control rounded-right needs-validation-text" placeholder="Ücret" required />
                                        <div class="invalid-feedback">
                                        Lütfen ücret kısmını doldurun.
                                        </div>
                                        </div>*@
                                </div>
                                <div class="form-group d-flex row">
                                    <div class="col">
                                        <div class="ui fluid search selection dropdown">
                                            <input type="hidden" name="country">
                                            <i class="dropdown icon"></i>
                                            <div id="selectedInsurancesCompanyText" class="default text">Sigorta Seç</div>
                                            <div class="menu" id="menuSelect">
                                                @foreach (var insuranceCompany in insurancesActiveCompanys)
                                                {
                                                    <div value="@insuranceCompany.InsuranceCompanyId" class="item product-cell image selectInsurance"><img style="width:50px ; height:30px" src="@insuranceCompany.ImageSvgUrl" alt="product">@insuranceCompany.Name</div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex row">
                                    <div class="col">
                                        <input type="text" id="insuranceStartDate" class="datepicker form-control rounded-left" placeholder="Sigorta Başlangıç Tarihi" />
                                        <div class="invalid-feedback">
                                            Lütfen sigorta başlangıç tarihi kısmını doldurun.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="insuranceEndDate" class="datepicker form-control rounded-right" placeholder="Sigorta Bitiş Tarihi" />
                                        <div class="invalid-feedback">
                                            Lütfen sigorta bitiş tarihi kısmını doldurun.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary container" onclick="addOrUpdateInsurance()">Kayıt Et</button>
                                </div>
                            </form>
                            <div class="col-md-4">
                                @*<button class="app-content-headerButton" onclick="GetUserInformation()">Kişiyi Getir</button>*@
                                <button class="app-content-headerButton" data-toggle="modal" data-target="#exampleModalCenter2">Barcode Ekle</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reader Modal-->
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="ion-ios-close"></span>
                                </button>
                            </div>
                            <form method="post" enctype="multipart/form-data" id="fileUploadForm" target="_blank">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label><b>Barkod Resmi:</b></label>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <input type="file" name="file" class="form-control-file btn btn-primary">
                                        </div>
                                    </div>
                                    @if (!String.IsNullOrEmpty(ViewBag.Barcode))
                                    {
                                        <div class="row">
                                            <div class="col-3">
                                                <label><b>Barkod Numarası:</b></label>
                                                <h4 class="text-danger"><b> @ViewBag.Barcode</b></h4>
                                            </div>
                                            <div class="col-9">
                                                <img src="@ViewBag.BarcodeUrl" width="400">
                                            </div>
                                        </div>
                                    }
                                    <div class="card-footer">
                                        <button type="submit" value="Reader" class="btn btn-primary" onclick="postBarcode()">Barkod Yükle</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content-actions">
                <input class="search-bar" id="search-bar" placeholder="Search..." type="text" value="@searchText" onchange="filtertSearch()">
                <div class="app-content-actions-wrapper">
                    <button class="action-button" onclick="DownloadExcelInsurance()"><img src="~/img/excel (1).png" style="width:35px"></button>
                    <div style=margin:12px></div>
                    @*<button class="action-button" data-toggle="modal" data-target="#exampleModalCenter"><img src="~/img/health.png" style="width:35px"></button>*@
                    <button class="app-content-headerButton" data-toggle="modal" data-target="#exampleModalCenter"><img src="~/img/car-insurance.png" style="width:35px">&nbsp&nbsp&nbsp&nbsp Yeni Sigorta Kaydı Ekle</button>
                    <div class="filter-button-wrapper">
                        <button class="action-button filter jsFilter"><span>Filtre</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg></button>
                        <div class="filter-menu">
                            <label>Yıl</label>
                            <select id="yearFilter">
                                @for (int i = -2; i <= 2; i++)
                                {
                                    if ((filter != null && filter.Year != default && filter.Year == NowYear + i) || (filter == null && i == 0))
                                    {
                                        <option value="@(NowYear + i)" selected="selected">@(NowYear + i)</option>
                                    }
                                    else
                                    {
                                        <option value="@(NowYear + i)">@(@NowYear + i)</option>
                                    }
                                }

                            </select>
                            <label>Ay</label>
                            <select id="monthFilter">
                                <option value="13">Tüm Yıl</option>
                                @for (int monthCount = 0; monthCount <= 11; monthCount++)
                                {
                                    string month = CultureInfo.GetCultureInfo(("tr-TR")).DateTimeFormat.MonthNames[@monthCount];
                                    var orginalMonth = monthCount + 1;
                                    if ((filter != null && filter.Month != default && filter.Month == orginalMonth) || (filter == null && DateTime.Now.Month == orginalMonth))
                                    {
                                        <option value="@orginalMonth" selected="selected">@month</option>
                                    }
                                    else
                                    {
                                        <option value="@orginalMonth">@month</option>
                                    }
                                }
                            </select>
                            <label>Şirket</label>
                            <div class="col">
                                <div class="ui fluid search selection dropdown">
                                    <input type="hidden" name="country">
                                    <i class="dropdown icon"></i>
                                    <div id="selectedInsurancesCompanyText" class="default text">Sigorta Seç</div>
                                    <div class="menu" id="menuSelectFilter">
                                        @foreach (var insuranceCompany in insurancesCompanys)
                                        {
                                            <div value="@insuranceCompany.InsuranceCompanyId" class="item product-cell image selectInsurance"><img style="width:50px ; height:30px" src="@insuranceCompany.ImageSvgUrl" alt="product">@insuranceCompany.Name</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <label>Durum</label>
                            <select id="statusFilter">
                                <option value="All" selected="selected">Hepsi</option>
                                <option value="Enable">Aktif</option>
                                <option value="Disable">Pasif</option>
                            </select>
                            <div class="filter-menu-buttons">
                                <button class="filter-button reset" id="resetFilter" onclick="removeCash()">
                                    Filtreyi Sıfırla
                                </button>
                                <button class="filter-button reset" id="getExpiredInsurance" onclick="getExpiredInsurances()">
                                    Sigorta süresi yaklaşanları getir
                                </button>
                                <button class="filter-button apply" onclick="addFilter()">
                                    Onayla
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="action-button list active" title="List View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6" /><line x1="8" y1="12" x2="21" y2="12" /><line x1="8" y1="18" x2="21" y2="18" /><line x1="3" y1="6" x2="3.01" y2="6" /><line x1="3" y1="12" x2="3.01" y2="12" /><line x1="3" y1="18" x2="3.01" y2="18" /></svg>
                    </button>
                    <button class="action-button grid" title="Grid View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7" /><rect x="14" y="3" width="7" height="7" /><rect x="14" y="14" width="7" height="7" /><rect x="3" y="14" width="7" height="7" /></svg>
                    </button>
                </div>

            </div>
            <div class="products-area-wrapper tableView">
                <div class="products-header ">
                    <div class="product-cell image">
                        Şirket
                        <button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell category">
                        Kullanıcı<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="userFullName" class="userFullName" onclick="filterSort('userFullName')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell category">
                        Başlangıç Tarihi<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="startDate" class="startDate" onclick="filterSort('startDate')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell status-cell">
                        Bitiş Tarihi<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="endDate" class="endDate" onclick="filterSort('endDate')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell sales">
                        Ücret<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="price" class="price" onclick="filterSort('price')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell stock">
                        Kalan Gün<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="remainingTime" class="remainingTime" onclick="filterSort('remainingTime')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell price">
                        Durum<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" id="isActive" class="isActive" onclick="filterSort('isActive')" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell price">
                        Düzenle
                    </div>
                </div>
                @foreach (var insurance in Model)
                {
                    var username = insurance.User?.FullName ?? string.Empty;
                    var imageSvgUrl = insurance.InsuranceCompany?.ImageSvgUrl ?? string.Empty;
                    var insuranceCompanyName = insurance.InsuranceCompany?.Name ?? string.Empty;

                    count += 1;
                    <div class="products-row">
                        <button class="cell-more-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1" /><circle cx="12" cy="5" r="1" /><circle cx="12" cy="19" r="1" /></svg>
                        </button>
                        <div class="product-cell image">
                            <span>@count</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <img src="@imageSvgUrl" alt="product">
                            <span>@insuranceCompanyName</span>
                        </div>

                        <div class="product-cell category"><span class="cell-label">Kullanıcı:</span>@username</div>
                        <div class="product-cell category"><span class="cell-label">Başlangıç Tarihi:</span>@insurance.InsuranceStartDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</div>
                        <div class="product-cell category"><span class="cell-label">Bitiş Tarihi:</span>@insurance.InsuranceEndDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</div>
                        <div class="product-cell price"><span class="cell-label">Ücret:</span>@insurance.Price ₺</div>
                        <div class="product-cell stock"><span class="cell-label">Durum:</span>@insurance.RemainingTimeYearMonthDayType</div>

                        <div class="product-cell status-cell">
                            <span class="cell-label">Status:</span>

                            @if (insurance.IsActive)
                            {
                                <span class="status active">Aktif Durumda</span>
                            }
                            else
                            {
                                <span class="status disabled">Pasif Durumda</span>
                            }
                        </div>
                        <div class="product-cell stock">
                            <span class="cell-label">Düzenle:</span>
                            <a href="#" onclick="GetInsuranceInformation('@insurance.InsuranceId')" style="width:20px; height:20px;" class="fa fa-edit" data-toggle="modal" data-target="#exampleModalCenter">
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/gird.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/mersis.js"></script>
    <script src="~/js/filter.js"></script>
    <script src="~/js/excel.js"></script>
    <script src="~/js/insurance.js"></script>
    <script src="~/js/choices.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/formValidate.js"></script>
    <script src="~/js/semantic.js"></script>
    <script src="~/js/semantic.min.js"></script>
    <script src="~/js/package.js"></script>
    <script src="~/js/dropDown.js"></script>
    <script>
        flatpickr(".datepicker",
        {});

    </script>
    <script>
            const choices = new Choices('[data-trigger]',
            {
                searchEnabled: true,
                itemSelectText: '',
            });

            function GetUserInformation(){
                let userIdentity =  document.getElementById("identificationNumber").value;
                        $.ajax({
                    type: "POST",
                    url: "/Mernis/GetUserInformation/",
                    data: {userIdentity},
                    dataType: "text",
                    success:  function (user) {
                        user = JSON.parse(user);
                        if(user.message == undefined){
                        document.getElementById("name").value = user.name;
                        document.getElementById("lastName").value = user.lastName;
                        document.getElementById("birthDate").value = user.birthYear;
                        }
                        else{
                            alert(user.message);
                        }
                            }
                        });
            }


        // Example starter JavaScript for disabling form submissions if there are invalid fields
        //(function () {
        //  'use strict'

        //  // Fetch all the forms we want to apply custom Bootstrap validation styles to
        //  debugger;
        // var forms = document.querySelectorAll('.needs-validation')
        // //var forms = Array.from(document.querySelectorAll('.needs-validation')[0]).filter(x=> !x.classList.contains("datepicker") && x.id !== '' );

        //  // Loop over them and prevent submission
        //    Array.prototype.slice.call(forms)
        //    .forEach(function (form) {
        //      form.addEventListener('submit', function (event) {
        //        if (!form.checkValidity()) {
        //          event.preventDefault()
        //          event.stopPropagation()
        //        }

        //        form.classList.add('was-validated')
        //      }, false)
        //    })
        //})()
    </script>
</body>
</html>

